/* Import Google Fonts: Merriweather for Serifs, Merriweather Sans for Sans-Serif */
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;600;700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Custom scrollbar to fit the theme */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #fff8f0; 
}
::-webkit-scrollbar-thumb {
    background: #c47c43; 
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: #a36534; 
}